.back-to-top {
    position: fixed;
    bottom: -60px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--card-background);
    box-shadow: var(--shadow-l2);
    border: none;
    cursor: pointer;
    z-index: 100;

    display: none;
    align-items: center;
    justify-content: center;

    transition: bottom 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

    &.visible {
        bottom: 20px;
    }

    &:hover {
        box-shadow: var(--shadow-l2);
        transform: translateY(-3px);
    }

    svg {
        width: 24px;
        height: 24px;
        stroke: var(--accent-color);
        stroke-width: 2;
    }

    @include respond(md) {
        display: flex;
        right: 30px;

        &.visible {
            bottom: 30px;
        }
    }
}
